pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #ffffcc }
.highlight { background: #ffffff; color: #000 }
.highlight .c { color: #008426 } /* Comment */
.highlight .k { color: #000; font-weight: bold } /* Keyword */
.highlight .ch { color: #008426 } /* Comment.Hashbang */
.highlight .cm { color: #008426 } /* Comment.Multiline */
.highlight .cp { color: #008426 } /* Comment.Preproc */
.highlight .cpf { color: #008426 } /* Comment.PreprocFile */
.highlight .c1 { color: #008426 } /* Comment.Single */
.highlight .cs { color: #008426 } /* Comment.Special */
.highlight .kc { color: #000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #000; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #000; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #2F2ECF } /* Literal.Number */
.highlight .s { color: #D92823 } /* Literal.String */
.highlight .nc { color: #753EA3 } /* Name.Class */
.highlight .w { color: #000 } /* Text.Whitespace */
.highlight .mb { color: #2F2ECF } /* Literal.Number.Bin */
.highlight .mf { color: #2F2ECF } /* Literal.Number.Float */
.highlight .mh { color: #2F2ECF } /* Literal.Number.Hex */
.highlight .mi { color: #2F2ECF } /* Literal.Number.Integer */
.highlight .mo { color: #2F2ECF } /* Literal.Number.Oct */
.highlight .sa { color: #D92823 } /* Literal.String.Affix */
.highlight .sb { color: #D92823 } /* Literal.String.Backtick */
.highlight .sc { color: #D92823 } /* Literal.String.Char */
.highlight .dl { color: #D92823 } /* Literal.String.Delimiter */
.highlight .sd { color: #D92823 } /* Literal.String.Doc */
.highlight .s2 { color: #D92823 } /* Literal.String.Double */
.highlight .se { color: #D92823 } /* Literal.String.Escape */
.highlight .sh { color: #D92823 } /* Literal.String.Heredoc */
.highlight .si { color: #D92823 } /* Literal.String.Interpol */
.highlight .sx { color: #D92823 } /* Literal.String.Other */
.highlight .sr { color: #D92823 } /* Literal.String.Regex */
.highlight .s1 { color: #D92823 } /* Literal.String.Single */
.highlight .ss { color: #D92823 } /* Literal.String.Symbol */
.highlight .il { color: #2F2ECF } /* Literal.Number.Integer.Long */